+b("div")(class="director-message")
    +e("div")(class="content")
        +e("h3")(class="title")
            = "Кухни на заказ в салонах Кухнисити"

        +e("p")(class="description")
            = "Кухня – одно из самых важных помещений в доме. Здесь готовят еду, устраивают семейные обеды, дружеские посиделки, а порой и званые вечера. Отсюда вытекают главные критерии выбора мебели – материалы и фурнитура (от покрытия столешницы и заканчивая ручками на фасадах) должны быть готовы к интенсивным нагрузкам,  а продуманная планировка должна помогать выполнять бытовые дела с легкостью, комфортом и удовольствием. А еще хочется, чтобы было красиво!"

        +e("div")(class="hidden")
            +e("p")(class="description")
                = "Кухня – одно из самых важных помещений в доме. Здесь готовят еду, устраивают семейные обеды, дружеские посиделки, а порой и званые вечера. Отсюда вытекают главные критерии выбора мебели – материалы и фурнитура (от покрытия столешницы и заканчивая ручками на фасадах) должны быть готовы к интенсивным нагрузкам,  а продуманная планировка должна помогать выполнять бытовые дела с легкостью, комфортом и удовольствием. А еще хочется, чтобы было красиво!"

        +e("button")(type="button", class="toggle")
            = "Раскрыть"

    +e("div")(class="author")
        +e("img")(
            src="images/director.png",
            class="author-thumbnail"
            alt="Изображение директора"
        )

        +e("div")(class="author-content")
            +e("img")(
                src="images/autograph.png",
                class="author-autograph"
            )

            +e("div")(class="author-header")
                +e("h4")(class="author-name")
                    = "Андрей Селиванов"

                +e("p")(class="author-role")
                    = "руководитель производства"